.menuToggleAnimation {
   animation: menuToggle 0.2s forwards ease-in;
}
.finishTaskAnimation {
   animation: finishTask 0.4s forwards ease-out;
}
.recordExpenseToggleAnimation {
   animation: recordExpense 0.2s forwards ease-out;
}
.recordIncomeToggleAnimation {
   animation: recordIncome 0.2s forwards ease-out;
}

@keyframes menuToggle {
   from {
      transform: scale(0);
      opacity: 0;
   }
   to {
      transform: scale(1);
      opacity: 100;
   }
}
@keyframes finishTask {
   from {
      transform: translateX(0);
      opacity: 100;
   }
   to {
      transform: translateX(100%);
      opacity: 0;
   }
}

@keyframes recordExpense {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(0);
   }
}
@keyframes recordIncome {
   from {
      transform: translateX(-100%);
   }
   to {
      transform: translateX(0);
   }
}

.drop-down-open-animation {
   animation: dropDownSelection 0.2s forwards;
}

@keyframes dropDownSelection {
   from {
      height: 0;
      opacity: 0.3;
   }
   to {
      height: fit-content;
      opacity: 1;
   }
}
